body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.container {
  margin-top: 40px;
}

section {
  padding: 20px;
  background-color: #ff00ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/*Nav Bar*/
.navbar {
  font-family: Arial, sans-serif;
  background-color: #ff00ff;
  border-bottom: 4px solid #00ff00;
}

.navbar-brand {
  font-size: 24px;
  color: #ffff00;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-toggler-icon {
  background-color: #00ff00;
}

.nav-link {
  color: #00ff00;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #ff00ff;
}

.collapse.navbar-collapse {
  background-color: #000;
  max-width: 25%;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #000;
    padding: 10px;
  }

  .navbar-toggler {
    border: 2px solid #00ff00;
    background-color: #ff00ff;
  }

  .navbar-nav {
    margin: 10px 0;
  }

  .nav-item {
    margin: 5px 0;
  }
}

/*Login */
.btn-login {
  background-color: #ff00ff;
  border-color: #ff00ff;
  box-shadow: 0px 6px 12px rgba(255, 0, 255, 0.4);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #00ff00;
  border-color: #00ff00;
  box-shadow: 0px 8px 20px rgba(0, 255, 0, 0.6);
}

.btn-login span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.btn-login:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ff00ff, #00ff00);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.btn-login:hover:before {
  transform: scaleX(1);
}

/*Register*/
.btn-register {
  background-color: #00ff00;
  border-color: #00ff00;
  transition: background-color 0.3s ease-in-out;
}

.btn-register:hover {
  background-color: #ff00ff;
  border-color: #ff00ff;
}

/*Flash Bar*/
#flash_bar_danger {
  background-color: #ffcc00;
  color: #00ffff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  animation: flashAnimation 0.8s 1s;
}

#flash_bar_success {
  background-color: #00ff00;
  color: #ff00ff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  animation: flashAnimation 0.8s 1s;
}

@keyframes flashAnimation {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

/*Locations*/

.row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.col-xs-9 h3 {
  color: #FFFFFF; /* White */
  font-size: 24px;
  margin: 0;
}

.col-xs-3 button {
  background-color: #FF0099; /* Hot pink */
  border: none;
  color: #FFFFFF; /* White */
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  background-color: #FFFFFF; /* White */
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}

.table thead th {
  background-color: #FF0099; /* Hot pink */
  color: #FFFFFF; /* White */
  font-weight: bold;
  padding: 10px;
}

.table tbody td {
  padding: 10px;
}

.link-href {
  color: #FF0099; /* Hot pink */
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-href:hover {
  color: #FF99CC; /* Light pink */
}
