/* Body Background */
body {
  background-color: #191919;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

/* Container Margin */
.container {
  margin-top: 40px;
}

/* Section Styles */
section {
  padding: 20px;
  background-color: #aa8efa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Nav Bar */
.navbar {
  font-family: Arial, sans-serif;
  background-color: #7269fe;
  border-bottom: 4px solid #3fdef1;
}

.navbar-brand {
  font-size: 24px;
  color: #aa8efa;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-toggler-icon {
  background-color: #3fdef1;
}

.nav-link {
  color: #3fdef1;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #7269fe;
}

.collapse.navbar-collapse {
  background-color: #191919;
  max-width: 25%;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #191919;
    padding: 10px;
  }

  .navbar-toggler {
    border: 2px solid #3fdef1;
    background-color: #aa8efa;
  }

  .navbar-nav {
    margin: 10px 0;
  }

  .nav-item {
    margin: 5px 0;
  }
}

/* Login Button */
.btn-login {
  background-color: #7269fe;
  border-color: #7269fe;
  box-shadow: 0px 6px 12px rgba(114, 105, 254, 0.4);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #3fdef1;
  border-color: #3fdef1;
  box-shadow: 0px 8px 20px rgba(63, 222, 241, 0.6);
}

.btn-login span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.btn-login:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #7269fe, #3fdef1);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.btn-login:hover:before {
  transform: scaleX(1);
}

/* Register Button */
.btn-register {
  background-color: #3fdef1;
  border-color: #3fdef1;
  transition: background-color 0.3s ease-in-out;
}

.btn-register:hover {
  background-color: #7269fe;
  border-color: #7269fe;
}

/* Flash Bar Styles */
#flash_bar_danger {
  background-color: #cccccc; /* Light grey */
  color: #7269fe; /* Magenta */
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  animation: flashAnimation 0.8s 1s;
}

#flash_bar_success {
  background-color: #191919; /* Black */
  color: #aa8efa; /* Light Purple */
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  animation: flashAnimation 0.8s 1s;
}

@keyframes flashAnimation {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

/* Locations */
.row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.col-xs-9 h3 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}

.col-xs-3 button {
  background-color: #7269fe;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}

.table thead th {
  background-color: #7269fe;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}

.table tbody td {
  padding: 10px;
}

.link-href {
  color: #7269fe;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-href:hover {
  color: #aa8efa;
}

/* Modal Styles */
.modal {
  border-radius: 10px;
}

.modal-header {
  background-color: #7269fe;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.modal-title {
  color: #ffffff;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
}

.modal-footer {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.modal-footer button {
  background-color: #7269fe;
  border-color: #7269fe;
  color: #ffffff;
}

.modal-footer button:hover {
  background-color: #3fdef1;
  border-color: #3fdef1;
}

button.btn-danger {
  background-color: #aa8efa;
  border-color: #aa8efa;
  color: #ffffff;
}

button.btn-danger:hover {
  background-color: #7269fe;
  border-color: #7269fe;
}
